.taskButtons{
    margin-top: 25px;
    margin-bottom: 25px;
}

mark{
    font-weight: bold;
}

.text-muted :hover{
    text-decoration: underline;
}

.taskButtons .btn-group{
    margin-right: 10px;
}

.entTree div {
    display: inline;
}

.entTree .text-muted{
    border: 1px solid darkblue;
    padding: 1px;
}