.taskButtons{
    margin-top: 25px;
    margin-bottom: 25px;
}

mark{
    font-weight: bold;
}

.text-info :hover{
    background-color: aqua;
    color: blue;
}

.taskButtons button{
    margin-right: 10px;
}